@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.81);
    position: sticky;
    top: 0;
}

#menu-horizontal div{
    align-items: center;
}

#menu-horizontal{
    list-style: none;
    padding: 0;
}

#menu-horizontal ul li{
    display: inline;
}

#menu-horizontal ul li a{
    color: white;
    padding: 24px;
    display: inline-block;
    text-decoration: none;
}

#menu-horizontal ul li a:hover{
    background-color: #6821e0;
    transition: background .5s;
}