<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Supermarket-spring</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav id="menu-horizontal">
  <ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/products}">Products</a></li>
    <li><a th:href="@{/products/register}">Register a product</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>