<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermarket-spring</title>
  <link rel="stylesheet" href="/css/header.css"> 
</head>
<body>
  <header>
    <div>
      <nav id="menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li th:if="${isLogged}"><a href="/products">Products</a></li>
            <li th:if="${isLogged}"><a href="/products/register">Register a product</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <nav id="menu-horizontal">
        <ul>
            <li th:if="${!isLogged}"><a href="/user/login">Login</a></li>
            <li th:if="${!isLogged}"><a href="/user/register">Register</a></li>
            <li th:if="${isLogged}"><a href="/user/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

</body>
</html>