<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign.css">
    <title>Login</title>
</head>
<body>
<main>
    <div id="box-center">
        <div id="container-left">
            <a href="/"><img src="/img/supermarket.svg" alt="Supermercado icone"></a>
        </div>
        <div id="container-right">
            <form id="form" method="post" th:action="@{/user/login}">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="username" id="email">
                </div>
                <div>
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>