<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermarket-spring</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/productForm.css">
</head>
<body>
  <header>
    <div>
      <nav id="menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/register">Register a product</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <nav id="menu-horizontal">
        <ul>
          <li><a href="/user/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      <h1>Edit your product</h1>
    
      <form id="updateProductForm" tabindex="1" th:object="${product}" th:action="@{/api/products/__${product.id}__}" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <div>
          <label>Name</label>
          <input name="nameProduct" th:value="${product?.nameProduct}" type="text" class="form-input" placeholder="Name of your product" required>
        </div>
    
        <div>
          <label>Price</label>
          <input name="valueProduct" th:value="${product?.valueProduct}"  type="number" class="form-input" placeholder="Value of your product" required step="any">
        </div>
    
        <div>
          <label>Expiration</label>
          <input name="expirationProductAt" th:value="${product?.expirationProductAt}"  type="date" class="form-input" placeholder="Expiration date of your product" required>
        </div>
    
        <div>
          <label>Description</label>
          <input name="descriptionProduct" th:value="${product?.descriptionProduct}" class="form-input" placeholder="Description of your product" required>
        </div>
    
        <div>
          <div class="button">
            <button type="submit" class="form-button">Edit</button>
          </div>
          <div class="button">
            <a href="/products"><button type="button" class="form-button">Back</button></a>
          </div>
        </div>
      </form>
    </div>
  </main>

<script>
  document.querySelector('#updateProductForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const url = this.getAttribute('action');

    const formData = new FormData(this);

    fetch(url, {
      method: 'PUT',
      body: formData
    })
            .then(response => {
              if (response.ok) {
                alert('Product updated with success!');
              } else {
                alert('Error!');
              }
            })
            .catch(error => {
              alert('Error!');
            });
  });
</script>
</body>
</html>