<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Supermarket-spring</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav id="menu-horizontal">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products/register">Register a product</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
      <th scope="col">Expiration date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="product : ${productList}">
      <th scope="row" th:text="${product.id}"></th>
      <td th:text="${product.nameProduct}"></td>
      <td th:text="${product.valueProduct}"></td>
      <td th:text="${product.expirationProductAt}"></td>
      <td>Actions</td>
    </tr>
  </tbody>
</table>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>