<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Supermarket-spring</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav id="menu-horizontal">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products/register">Register a product</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>

<div class="container-table">
  <table class="table">
    <thead class="thead-custom">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
        <th scope="col">Description</th>
        <th scope="col">Expiration date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="product : ${productList}">
        <th scope="row" th:text="${product.id}"></th>
        <td th:text="${product.nameProduct}"></td>
        <td th:text="${product.valueProduct}"></td>
        <td th:text="${product.descriptionProduct}"></td>
        <td th:text="${product.expirationProductAt}"></td>
        <td>Actions</td>
      </tr>
    </tbody>
  </table>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>