<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermarket-spring</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/productForm.css">
</head>
<body>
  <header>
    <div>
      <nav id="menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/register">Register a product</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <nav id="menu-horizontal">
        <ul>
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/register">Register</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      <h1>Register your product</h1>
      <form id="updateProductForm" class="form" tabindex="1" action="/api/products/" method="POST">
        <div>
          <input name="nameProduct" type="text" class="form-input" placeholder="Name of your product" required>
        </div>
    
        <div>
          <input name="valueProduct" type="number" class="form-input" placeholder="Value of your product" required step="any">
        </div>
    
        <div>
          <input name="expirationProductAt" type="date" class="form-input" placeholder="Expiration date of your product" required>
        </div>
    
        <div>
          <textarea name="descriptionProduct" class="form-textarea" placeholder="Description of your product" required></textarea>
        </div>
    
        <div>
          <div class="button">
            <button type="submit" class="form-button">Register</button>
          </div>
          <div class="button">
            <a href="/products"><button type="button" class="form-button">Back</button></a>
          </div>
        </div>
      </form>
    </div>
  </main>

<script>
  document.querySelector('#updateProductForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const url = this.getAttribute('action');
    const formData = new FormData(this);

    fetch(url, {
      method: 'POST',
      body: formData
    })
            .then(response => {
              if (response.ok) {
                alert('Product registred with success!!');
              } else {
                alert('Error!');
              }
            })
            .catch(error => {
              alert('Error!');
            });
  });
</script>
</body>
</html>