<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign.css">
    <title>Register</title>
</head>
<body>
    <main>
        <div id="box-center">
            <div id="container-left">
                <a href="/"><img src="/img/supermarket.svg" alt="Supermercado icone"></a>
            </div>
            <div id="container-right">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <form id="form" th:action="@{/user/register}" method="post" th:object="${user}">
                    <div>
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" th:field="*{name}" >
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" th:field="*{email}" >
                    </div>
                    <div>
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" th:field="*{password}" >
                    </div>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>